@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f5f4f7;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Nunito";
  color: #161618;
  background-color: #dbdbdb;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

button {
  background-color: transparent;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  color: #f5f4f7;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input {
  outline: none;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  font-size: 22px;
  background-color: #f5f4f7;
  padding: 15px;
  border: 3px solid #f5f4f7;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:focus {
  border: 3px solid #3c26ca;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
}

.layout .navBar {
  background-color: #dbdbdb;
  padding: 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
  text-align: center;
}

.layout .navBar h4 {
  margin-top: 10px;
}

.layout .navBar .navHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
}

.layout .navBar .navButtons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.layout .navBar .navButtons button {
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 22px;
  letter-spacing: 2px;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 20px;
  color: #161618;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 35px 1fr;
      grid-template-columns: 35px 1fr;
  grid-gap: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.layout .navBar .navButtons button:hover {
  color: #f5f4f7;
  background-color: #3c26ca;
}

.layout .navBar .navButtons .selected {
  color: #f5f4f7;
  background-color: #3c26ca;
}

.layout .navBar .navFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.layout .navBar .navFooter img {
  height: 50px;
  width: 50px;
}

@media (max-width: 1150px) {
  .layout .navBar {
    padding: 30px;
  }
  .layout .navBar h4 {
    display: none;
  }
  .layout .navBar .navButtons {
    place-items: center;
    grid-gap: 40px;
  }
  .layout .navBar .navButtons button {
    font-size: 28px;
    grid-gap: 0px;
  }
  .layout .navBar .navButtons button p {
    display: none;
  }
  .layout .navBar .navFooter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .layout .navBar .navFooter h1 {
    display: none;
  }
}

.layout .content {
  width: 100%;
  background-color: #dbdbdb;
  overflow: hidden;
}

.layout .content ::-webkit-scrollbar {
  display: none;
}

.layout .content .mainContent {
  padding: 15px;
  background-color: #dbdbdb;
  overflow: auto;
  height: 100%;
}

@media (max-width: 600px) {
  .layout {
    position: relative;
  }
  .layout .navBar {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    overflow-x: scroll;
    max-width: 100%;
  }
  .layout .navBar .navHeader {
    display: none;
  }
  .layout .navBar .navButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: 10px;
  }
  .layout .navBar .navButtons button {
    grid-gap: 0px;
    font-size: 22px;
    padding: 10px;
  }
  .layout .navBar .navButtons button p {
    display: none;
  }
  .layout .navBar .navFooter {
    display: none;
  }
  .layout .content {
    padding-bottom: 68px;
  }
}

.inputField {
  border-radius: 15px;
  background-color: #161618;
  color: #f5f4f7;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px;
      grid-template-columns: 1fr 80px;
  gap: 10px;
  margin-bottom: 10px;
}

.inputField input {
  margin-top: 10px;
}

.inputField button {
  background-color: #3c26ca;
}

.inputField button:hover {
  background-color: #3b1cff;
}

.inputField .grid {
  gap: 10px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.modalContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.604);
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
  overflow: hidden;
  z-index: 999;
}

.modalContainer .modalContent {
  height: 100%;
  width: 100%;
  max-width: 650px;
  border-radius: 15px;
  overflow: scroll;
  display: -ms-grid;
  display: grid;
  place-items: center !important;
}

.modalContainer .modalContent .modal {
  color: #dbdbdb;
  background-color: #f5f4f7;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.modalContainer .modalContent .modalHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #161618;
  padding-left: 10px;
}

.modalContainer .modalContent .modalHeader .closeBtn {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.listItem {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 80px;
  -ms-grid-columns: 1fr 80px;
      grid-template-columns: 1fr 80px;
  border-radius: 15px;
  background-color: #161618;
  color: #f5f4f7;
  overflow: hidden;
}

.listItem .textFields {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.listItem h2 {
  padding: 10px;
}

.listItem h3 {
  padding: 0 10px 10px 10px;
  color: #f5f4f7 !important;
}

.listItem .icon {
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 800px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.marginBottom {
  margin-bottom: 30px;
}

.marginTop {
  margin-top: 30px;
}

.italic {
  font-style: italic;
}

.Dropdown-control {
  border-radius: 15px !important;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #f5f4f7 !important;
  font-size: 20px;
  cursor: pointer !important;
}

.Dropdown-menu {
  border-radius: 15px !important;
  margin-top: 5px !important;
  background-color: #f5f4f7 !important;
}

.ql-container {
  border: none;
}

.ql-container p {
  font-size: 20px;
  color: #161618;
}

.ql-container .ql-editor {
  border: 3px solid #161618;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ql-container .ql-editor:focus {
  border: 3px solid #00007e;
}

.ql-container .ql-editor.ql-blank::before {
  padding-left: 10px;
}

.ql-container.ql-snow {
  border: none !important;
}

.studentPageContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.studentPageContainer .feedBackButtonsContainer {
  max-width: 800px;
  width: 100%;
}

.studentPageContainer .feedBackButtonsContainer .feedbackButton {
  min-height: 100px;
  width: 100%;
  border-radius: 15px;
  background-color: #161618;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px;
      grid-template-columns: 1fr 80px;
  place-items: center;
  color: #f5f4f7;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.studentPageContainer .feedBackButtonsContainer .feedbackButton h2 {
  padding: 10px;
}

.studentPageContainer .feedBackButtonsContainer .feedbackButton .icon {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  font-size: 45px;
  padding: 10px;
}

.studentPageContainer .feedBackButtonsContainer .feedbackButton .done {
  background-color: green;
}

.studentPageContainer .feedBackButtonsContainer .institute {
  margin-bottom: 10px;
}

.studentPageContainer .feedBackButtonsContainer .modal h3 {
  text-align: left;
  padding: 0 10px;
  color: #161618;
}

.studentPageContainer .feedBackButtonsContainer .modal h4 {
  color: #3c3c3c;
}

.studentPageContainer .feedBackButtonsContainer .modal button {
  background-color: #3c26ca;
  font-size: 20px;
  padding: 10px 30px;
}

.studentPageContainer .feedBackButtonsContainer .modal button:hover {
  background-color: #3b1cff;
}

.facultyPageContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.facultyPageContainer .facultyContainer {
  max-width: 800px;
  width: 100%;
}

.classesPageContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.classesPageContainer .classesContainer {
  max-width: 800px;
  width: 100%;
}

.classesPageContainer .classesContainer .grid {
  margin-top: 15px;
}

.classesPageContainer .classListItem {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 80px;
  -ms-grid-columns: 1fr 60px;
      grid-template-columns: 1fr 60px;
  border-radius: 15px;
  background-color: #161618;
  color: #f5f4f7;
}

.classesPageContainer .classListItem h2 {
  padding: 10px;
}

.classesPageContainer .classListItem .icon {
  background-color: #3c26ca;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 0 14px 14px 0;
  height: 100%;
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.classesPageContainer .classListItem .icon:hover {
  background-color: #3b1cff;
}

.classesPageContainer .classListItem .flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.classesPageContainer .classListItem .flexBox .listItem {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.classesPageContainer .classListItem h3,
.classesPageContainer .classListItem h4 {
  text-align: left;
  color: #161618;
}

.classesPageContainer .classListItem .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.classesPageContainer .classListItem .btnContainer button {
  height: 50px;
  font-size: 20px;
  width: 100%;
  background-color: #161618;
}

.classesPageContainer .classListItem .classGrid {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}
